<?xml version="1.0"?>
<Events>
    <Event id="alarmEvent">
        <Name>Alarm Event</Name>
		<ConfigUI>
            <Field id="system" type="menu">
                <Label>System:</Label>
            	<List class="indigo.devices" filter="self.system" />
                <CallbackMethod>menuChanged</CallbackMethod>            
            </Field>
		</ConfigUI>
    </Event>
</Events>
